<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
<body>
    <div class="container my-5">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h3>All questions</h2>
            <a href="/questions" class="btn btn-primary">Perguntar algo</a>
        </div>
        <% questions.forEach(question => { %>

            <div class="card my-4">
                <div class="card-header">
                    <h5><%= question.title %></h4>
                </div>
                <div class="card-body">
                    <p><%= question.description %></p>
                </div>
                <div class="card-footer py-3">
                    <a href="/question/<%= question.id %>">
                        <button type="submit" class="btn btn-primary">Answer</button>
                    </a>
                </div>
            </div>

        <% }); %> 
    </div>

    <%- include("./partials/scripts") %> 
</body>
</html>